<%- include('./templates/cabecera') %>

<h1 class="has-text-centered has-text-info title is-1">Crea un nuevo registro!!</h1>
<!-- OOJJOOOOO en el action no va rutaClientes, hi va 'clientes'-->
<form action="/clientes" method="post">
    <input class="input is-info m-2" type="text" placeholder="Introduce el nombre" name="nombre">
    <input class="input is-info m-2" type="text" placeholder="Introduce la edad" name="edat">
    <button type="submit" class="button m-2 is-success">Agregar</button>
</form>

<%- include('./templates/footer') %>